
$primary: 'deep-orange';
$warn: 'amber';
$accent: 'pink';

@import 'ember-paper';
@import 'themes/peep';



@import "pages/index";


.card-action{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 48px;
  width: 100%;
  background-color: yellow;
}