<h1>hi</h1>


{{model.email}}

<p>{{input type='file' id='file-field'}}</p>

{{#paper-button raised=true onClick=(route-action "save")}}Save{{/paper-button}}

 <img src="{{model.avatarUrl}}" id="preview-image" class="small-image" />