{{#paper-content flex=true scroll-y=true layout-padding=true}}
  {{#doc-content}}
    <div class="layout-row layout-wrap flex layout-xs-column">
      {{#each model as |user|}}
        {{#link-to 'users.detail' user.id class="layout-column flex-xs flex-gt-xs-50"}}
          {{#paper-card as |card|}}
            {{#card.header as |header|}}
              {{#header.avatar}}
                <img src="{{user.thumbUrl}}" width="150" height="150"/>
              {{/header.avatar}}
              {{#header.text as |text|}}
                {{#text.title}}{{user.email}}{{/text.title}}
                {{#text.subhead}}{{user.email}}{{/text.subhead}}
              {{/header.text}}
            {{/card.header}}
          {{/paper-card}}
        {{/link-to}}
      {{/each}}
    </div>
  {{/doc-content}}
{{/paper-content}}

