{{#user-info as |u|}}
    <div class="chat">
    {{#each model as |message|}}
        <div class="message {{if (eq u.id message.author.id) 'me'}}">
            <img src="{{message.author.avatarUrl}}" />
            <div>
                <p>{{message.body}} </p>
            </div>
        </div>
    {{/each}}
    </div>
{{/user-info}}

