{{#paper-content flex=true scroll-y=true layout-padding=true}}
    {{#doc-content}}
        {{outlet}}
    {{/doc-content}}
    <div class="card-action">
        {{!-- New message field --}}
        {{paper-input
                value=model.newMessage
                onChange=(action (mut model.newMessage))
                classNames="new-message-field"}}
        <button class="btn-floating btn-large z-depth-0 send-button right"
                onclick={{route-action 'sendMessage'}}>
            <i class="material-icons">send</i>
        </button>
    </div>
{{/paper-content}}
