{{#paper-content class="app--room" flex=true scroll-y=true layout-padding=true}}
    {{#doc-content}}
        {{outlet}}
    {{/doc-content}}
    <div class="card-action">
        {{!-- New message field --}}

        {{#paper-form as |form|}}
            <form {{action (route-action "sendMessage") on="submit"}}>
                <div class="layout-row">
                    {{input class="text-area" label="Message" onenter=(route-action 'sendMessage')
                                  value=model.newMessage onChange=(action (mut model.newMessage))}}

                    {{#form.submit-button type="submit" raised=true primary=true}}
                        {{paper-icon "send"}}
                    {{/form.submit-button}}
                </div>
            </form>
        {{/paper-form}}
    </div>
{{/paper-content}}
