{{#paper-sidenav-container class="site-nav-container"}}
    {{#paper-sidenav class="md-whiteframe-z2 site-sidenav" lockedOpen=false
                     open=isSidenavOpen onToggle=(action (mut isSidenavOpen))}}
        {{#paper-toolbar class="site-content-toolbar" tall=true}}
            <div class="logo layout-column layout-align-center-center">
                {{#link-to 'index' tagName="span"}}
                    <img src="/ember-logo-white.png" height="120px">
                {{/link-to}}
            </div>
        {{/paper-toolbar}}

        {{#paper-content}}

            {{#if session.isAuthenticated}}
                {{#paper-list}}
                    {{#menu-item active=(is-active "users" currentRouteName) onClick=(transition-to "users")}}Users{{/menu-item}}
                    {{#menu-item active=(is-active "index" currentRouteName) onClick=(route-action 'logout')}}Logout{{/menu-item}}
                {{/paper-list}}
            {{else}}
                {{#paper-list}}
                    {{#menu-item active=false onClick=(transition-to "auth.login")}}Login{{/menu-item}}
                {{/paper-list}}
            {{/if}}


        {{/paper-content}}
    {{/paper-sidenav}}

    <div class="flex layout-column" tabindex="-1" role="main">
        {{page-toolbar pageTitle=currentRouteName}}
        {{liquid-outlet}}
    </div>
{{/paper-sidenav-container}}