{{#paper-content flex=true scroll-y=true class="layout-padding page-index"}}
    {{#doc-content}}
        <div class="logo layout-column layout-align-center-center">
            {{#link-to 'index' tagName="span"}}
                <img src="ember-logo-white.png">
            {{/link-to}}
        </div>


        <p>This is an example of an
            <a href="http://emberjs.com" target="_blank">Ember.js</a> app
            with a
            <a href="http://www.phoenixframework.org/" target="_blank">
                Phoenix
            </a> API.
        </p>
        {{#paper-button onClick=(action (transition-to  "auth.register"))}}Register{{/paper-button}}

        {{#paper-button onClick=(action (transition-to  "app.index")) raised=true primary=true}}
            Enter Chat{{/paper-button}}


    {{/doc-content}}
{{/paper-content}}