{{#paper-content flex=true scroll-y=true class="layout-padding page-index"}}
    {{#doc-content}}
        <div class="logo layout-column layout-align-center-center">
            {{#link-to 'index' tagName="span"}}
                <img src="ember-logo-white.png">
            {{/link-to}}
        </div>

        <h1>Pi-Pa-Prototype</h1>


    {{/doc-content}}
{{/paper-content}}